.progress-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    color: white;
    flex: 1;
    font-weight: bold;
}

.progress-bar {
    flex: 2;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-inner {
    height: 100%;
    background-color: black;
}